*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

#app {
  width: 100%;
  max-width: 700px;
  margin-inline: auto;
  height: 100%;
}

header,
main {
  padding: 1.5rem 2rem;
}

header {
  border-bottom: 3px solid black;
}

h1,
h2,
h3 {
  font-weight: 500;
}

main > * + * {
  margin-top: 5rem;
}

.input-wrapper > * {
  display: block;
  width: 100%;
}

.input-wrapper {
  margin-bottom: 2.5rem;
}

.input-wrapper > * + * {
  margin-top: 0.5rem;
}

input[type="text"] {
  padding: 0.25rem 0.5rem;
  font-size: 1.1rem;
  border: 1px solid black;
}

input[type="checkbox"] {
  width: 1.25rem;
  height: 1.25rem;
  accent-color: green;
}

button {
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  border: 2px solid black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  box-shadow: 2px 2px 0 black;
}

button.delete-btn {
  padding: 0.1rem 0.5rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li + li {
  margin-top: 1rem;
}

.line-through {
  text-decoration: line-through;
}
